<a href="https://colab.research.google.com/github/gingerheef003/colab/blob/main/tip2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# astype

In [16]:
import pandas as pd
import numpy as np

on DataFrames

In [4]:
d = {
    'col1': [1,2],
    'col2': [3,4],
}
df = pd.DataFrame(data=d)
df.dtypes

col1    int64
col2    int64
dtype: object

In [6]:
df.astype('int32').dtypes

col1    int32
col2    int32
dtype: object

In [7]:
df.astype({'col1': 'int32'}).dtypes

col1    int32
col2    int64
dtype: object

on Series

In [13]:
ser = pd.Series([1,2], dtype='int32')
ser

0    1
1    2
dtype: int32

In [14]:
ser.astype('int64')

0    1
1    2
dtype: int64

In [15]:
ser.astype('category')

0    1
1    2
dtype: category
Categories (2, int64): [1, 2]

In [21]:
nulltest = pd.Series([1,2,3,np.nan,5,6,np.nan])
nulltest.fillna(0).astype('int32')

0    1
1    2
2    3
3    0
4    5
5    6
6    0
dtype: int32